<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Neste projeto o foco foi desenvolver uma aplicação em FullStack sem foco em Layout, para que as [VAGAS] abordadas no sistema da aplicação suportassem ser manipuladas através da sua [ID], com base nos padrões de requisições API Rest atuais GET, POST, DELETE, UPDATE.</p>
    <hr class="my-4">
    <ul>
      <li>Dropdown Listar Vaga > Manipular Vagas</li>   
      <li>No campo foto adicione alguma dessas opções: tecnologia.png, tecnologia2.jpeg, tecnologia3.jpg</li>
    </ul>
   
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Vagas principais</a>
    </p>
</div>